.Button {
  margin: 10px !important ;
  padding: 15px 45px !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;       
  box-shadow: 0 !important;
  border-radius: 10px !important;
  display: block !important;
  font-size: 20px  !important;
  color: black !important;
}

.radioText{
  color: rgb(112, 112, 112) !important;
  font-family: Roboto !important;
  font-size: 20px  !important;
}
   
  
  

